@use 'base/variables' as v;
@use 'base/mixins' as m;

.seccion {
    padding: 5rem 0;
    display: none;
    .text-center {
        text-align: center;
    }

 
}

.mostrar {
    display: block;
}

.ocultar {
    display: none;
}

